# ---------------------------
# CONFIGURACION LOCAL
# ---------------------------

# URL base del servidor SonarQube. Se usa para la comunicación con su API y para abrir el dashboard de proyectos.
sonarHostUrl=http://localhost:9000

# Ruta relativa al workspaceBaseDir donde SonarScanner almacena sus archivos temporales de análisis.
sonarWorkingDirectory=sonar/temp

# Ruta relativa al workspaceBaseDir donde se guarda el archivo de configuración (config.json) con los proyectos y el token.
sonarConfigPath=sonar

# Ruta absoluta del directorio raíz del workspace. Todas las rutas de proyectos son relativas a este directorio.
workspaceBaseDir=/home/richard/www


# ---------------------------
# CONFIGURACION DOCKER
# ---------------------------

# # URL base del servidor SonarQube dentro de la red Docker (el hostname "sonarqube" resuelve al contenedor de SonarQube).
# sonarHostUrl=http://sonarqube:9000

# # Ruta relativa al workspaceBaseDir donde SonarScanner almacena sus archivos temporales de análisis.
# sonarWorkingDirectory=sonar/temp

# # Ruta relativa al workspaceBaseDir donde se guarda el archivo de configuración (config.json).
# sonarConfigPath=sonar

# # Ruta absoluta del directorio raíz del workspace dentro del contenedor Docker.
# workspaceBaseDir=/workspace

