<div class="modal fade" id="fileExplorerModal" tabindex="-1" aria-labelledby="fileExplorerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileExplorerModalLabel">
                    <i class="bi bi-folder2-open me-2"></i>Seleccionar directorio
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="fileExplorerModalBody">
                <div class="text-center text-muted py-4">
                    <div class="spinner-border spinner-border-sm me-2" aria-hidden="true"></div>
                    Cargando explorador...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnAcceptFileExplorer">Aceptar</button>
            </div>
        </div>
    </div>
</div>
