<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= typeof pageTitle !== 'undefined' ? pageTitle : 'DevUtils' %></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <script>(function(){var t=localStorage.getItem('theme');if(t==='dark')document.documentElement.dataset.bsTheme='dark';}());</script>
  <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/vendor/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.css" />
  <link rel="stylesheet" href="/vendor/izitoast/css/iziToast.min.css" />
  <link rel="stylesheet" href="/vendor/xterm/css/xterm.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
