<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProjectModalLabel">Editar proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="frmEditProject" class="row g-3">
          <input type="hidden" id="editProjectCurrentName">
          <div class="col-12">
            <label for="editProjectName" class="form-label">nombre proyecto</label>
            <input type="text" class="form-control form-control-sm" id="editProjectName" required
              onchange="trimProjectInput(this)" onblur="trimProjectInput(this)">
          </div>
          <div class="col-12">
            <label for="editProjectBaseDir" class="form-label">directorio proyecto</label>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text"><%= workspaceBaseDir %>/</span>
              <input type="text" class="form-control form-control-sm" id="editProjectBaseDir" required
                onchange="trimProjectInput(this)" onblur="trimProjectInput(this)">
              <button type="button" class="btn btn-outline-secondary" onclick="openGlobalFileExplorerModal('editProjectBaseDir')"><i
                  class="bi bi-folder2-open"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="btnUpdateProject" class="btn btn-primary" onclick="saveEditedProject()">Guardar</button>
      </div>
    </div>
  </div>
</div>